@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;700&family=Inter:wght@300;400;600&display=swap");

@import "tailwindcss";


:root {
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
  --background: #f4f4f4;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
